.rightbar {
}
.right-bar-wrapper {
  padding: 2.4rem 2.4rem 0 0;
}
.birthday-container {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}
.birthday-container img {
  width: 3rem;
  height: 3rem;
}
.birthday-container p {
  font-weight: normal;
  font-size: 1.6rem;
}
.rightbar .ad-image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 3rem;
}
.online-friend-container {
}
.online-friend-container .online-friend-heading {
  font-weight: normal;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}
.online-friend-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.profile-right-bar {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.profile-right-bar .title {
  font-size: 2.4rem;
  font-weight: 500;
}
.profile-right-bar .profile-info {
  font-size: 1.6rem;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
}
.profile-friends {
  margin-top: 3rem;
}
.profile-friends h2 {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.profile-friends-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.profile-friend-list-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-friend-list-item img {
  width: 12rem;
  height: 10rem;
  object-fit: cover;
}
.profile-friend-list-item p {
  font-size: 1.6rem;
  font-weight: normal;
  margin-top: 10px;
}
